<?xml version="1.0"?>
<launch>

<arg name ="limited" default ="false" doc="If true, limits joint range [-PI,PI] on all joints."/>

<arg name="robot_name"/>
<arg name="init_pose"/>

  <!-- Send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_description)/urdf/ur5_robotiq85_gripper.urdf.xacro'" />
  <!-- Spawn robot in gazebo (and move it upwards):
       better initial values should be -2.355 and 1.57 but the robot does
       something strange when unpausing it
  -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)"  output="screen" />

  <include file="$(find robot_gazebo)/launch/ur5_controllers.launch" />

<!-- load other controllers 
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" /> -->

</launch>
